@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-500-latin.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-700-latin.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-900-latin.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* montserrat-500 - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-500-latin-ext.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* montserrat-700 - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-700-latin-ext.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* montserrat-900 - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-900-latin-ext.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* montserrat-500 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-cyrillic-500.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* montserrat-700 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-cyrillic-700.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* montserrat-900 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/montserrat/montserrat-cyrillic-900.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* noto-sans-arabic-500 - arabic */
@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/noto-sans-arabic/noto-sans-arabic-v18-arabic-500.woff2")
      format("woff2");
}
/* noto-sans-arabic-700 - arabic */
@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/noto-sans-arabic/noto-sans-arabic-v18-arabic-700.woff2")
      format("woff2");
}
/* noto-sans-arabic-900 - arabic */
@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/noto-sans-arabic/noto-sans-arabic-v18-arabic-900.woff2")
      format("woff2");
}

/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-latin-500.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-latin-900.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* inter-500 - latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-latin-ext-500.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* inter-700 - latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* inter-900 - latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-latin-ext-900.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* inter-500 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-cyrillic-500.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* inter-700 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-cyrillic-700.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* inter-900 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/inter/inter-v18-cyrillic-900.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* museomoderno-500 - latin */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/museomoderno/museomoderno-v27-latin-500.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* museomoderno-700 - latin */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/museomoderno/museomoderno-v27-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* museomoderno-900 - latin */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/museomoderno/museomoderno-v27-latin-900.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* museomoderno-500 - latin-ext */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/museomoderno/museomoderno-v27-latin-ext-500.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* museomoderno-700 - latin-ext */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/museomoderno/museomoderno-v27-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* museomoderno-900 - latin-ext */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/museomoderno/museomoderno-v27-latin-ext-900.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* koh-santepheap-regular - latin */
@font-face {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/koh-santepheap/koh-santepheap-v9-latin-regular.woff2")
      format("woff2");
}
/* koh-santepheap-700 - latin */
@font-face {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/koh-santepheap/koh-santepheap-v9-latin-700.woff2")
      format("woff2");
}
/* koh-santepheap-900 - latin */
@font-face {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/koh-santepheap/koh-santepheap-v9-latin-900.woff2")
      format("woff2");
}

/* oxanium-500 - latin */
@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/oxanium/oxanium-v19-latin-500.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}
/* oxanium-700 - latin */
@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/oxanium/oxanium-v19-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}
/* oxanium-800 - latin */
@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/oxanium/oxanium-v19-latin-800.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}

/* oxanium-500 - latin-ext */
@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/oxanium/oxanium-v19-latin-ext-500.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}
/* oxanium-700 - latin-ext */
@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/oxanium/oxanium-v19-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}
/* oxanium-800 - latin-ext */
@font-face {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/oxanium/oxanium-v19-latin-ext-800.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}

/* grandstander-500 - latin */
@font-face {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/grandstander/grandstander-v18-latin-500.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}
/* grandstander-700 - latin */
@font-face {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/grandstander/grandstander-v18-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}
/* grandstander-900 - latin */
@font-face {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/grandstander/grandstander-v18-latin-900.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}

/* grandstander-500 - latin-ext */
@font-face {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/grandstander/grandstander-v18-latin-ext-500.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}
/* grandstander-700 - latin-ext */
@font-face {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/grandstander/grandstander-v18-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}
/* grandstander-900 - latin-ext */
@font-face {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/grandstander/grandstander-v18-latin-ext-900.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}

/* baloo-2-500 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/baloo2/baloo-2-v21-latin-500.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* baloo-2-700 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/baloo2/baloo-2-v21-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* baloo-2-800 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/baloo2/baloo-2-v21-latin-800.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* baloo-2-500 - latin-ext */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/baloo2/baloo-2-v21-latin-ext-500.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* baloo-2-700 - latin-ext */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/baloo2/baloo-2-v21-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* baloo-2-800 - latin-ext */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/baloo2/baloo-2-v21-latin-ext-800.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/lato/lato-v24-latin-regular.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/lato/lato-v24-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/lato/lato-v24-latin-900.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-regular - latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/lato/lato-v24-latin-ext-regular.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* lato-700 - latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/lato/lato-v24-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* lato-900 - latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/lato/lato-v24-latin-ext-900.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* nunito-500 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-latin-500.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* nunito-900 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-latin-900.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* nunito-500 - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-latin-ext-500.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* nunito-700 - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* nunito-900 - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-latin-ext-900.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* nunito-500 - cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-cyrillic-500.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* nunito-700 - cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-cyrillic-700.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* nunito-900 - cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/nunito/nunito-v26-cyrillic-900.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-latin-regular.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  descent-override: 27%;
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  descent-override: 27%;
}
/* merriweather-900 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-latin-900.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  descent-override: 27%;
}

/* merriweather-regular - latin-ext */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-latin-ext-regular.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  descent-override: 27%;
}
/* merriweather-700 - latin-ext */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  descent-override: 27%;
}
/* merriweather-900 - latin-ext */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-latin-ext-900.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  descent-override: 27%;
}

/* merriweather-regular - cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-cyrillic-regular.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  descent-override: 27%;
}
/* merriweather-700 - cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-cyrillic-700.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  descent-override: 27%;
}
/* merriweather-900 - cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/merriweather/merriweather-v30-cyrillic-900.woff2")
      format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  descent-override: 27%;
}

/* solway-500 - latin */
@font-face {
  font-family: "Solway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/solway/solway-v18-latin-500.woff2")
      format("woff2");
}
/* solway-700 - latin */
@font-face {
  font-family: "Solway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/solway/solway-v18-latin-700.woff2")
      format("woff2");
}
/* solway-800 - latin */
@font-face {
  font-family: "Solway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/solway/solway-v18-latin-800.woff2")
      format("woff2");
}

/* courier-prime-regular - latin */
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/courier-prime/courier-prime-v9-latin-regular.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}
/* courier-prime-700 - latin */
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/courier-prime/courier-prime-v9-latin-700.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  ascent-override: 95%;
}

/* courier-prime-regular - latin-ext */
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/courier-prime/courier-prime-v9-latin-ext-regular.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}
/* courier-prime-700 - latin-ext */
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/courier-prime/courier-prime-v9-latin-ext-700.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  ascent-override: 95%;
}

/* hotelw00 - latin */
@font-face {
  font-family: "hotelw00";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/snoopy/hotelw00.woff")
      format("woff");
}

/* Quicksand - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/quicksand/quicksand.woff2")
      format("woff2");
}

/* titillium-400-latin - latin */
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/titillium/titillium-400-latin.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* titillium-700-latin - latin */
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/titillium/titillium-700-latin.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* titillium-900-latin - latin */
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/titillium/titillium-900-latin.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* titillium-400-latin - latin-ext */
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/titillium/titillium-400-latin-ext.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* titillium-700-latin - latin-ext */
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/titillium/titillium-700-latin-ext.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* titillium-900-latin - latin-ext */
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/titillium/titillium-900-latin-ext.woff2")
      format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* bai-jamjuree-regular - thai */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/bai-jamjuree/bai-jamjuree-v11-thai-regular.woff2")
      format("woff2");
}
/* bai-jamjuree-500 - thai */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/bai-jamjuree/bai-jamjuree-v11-thai-500.woff2")
      format("woff2");
}
/* bai-jamjuree-700 - thai */
@font-face {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("https://files-cdn.kahoot.it/shared-assets/fonts/bai-jamjuree/bai-jamjuree-v11-thai-700.woff2")
      format("woff2");
}

body {
  background: rgb(56, 18, 114);
}

.navbar {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.mobile-navbar {
  /* backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); */
  background: red;
}

.python {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Gaya scrollbar vertikal */
::-webkit-scrollbar {
  width: 8px; /* lebar scrollbar */
}

/* Gaya thumb (handle) scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #b1afaf; /* warna thumb */
  border-radius: 4px; /* bentuk thumb */
}

/* Gaya track (jalur) scrollbar */
::-webkit-scrollbar-track {
  background-color: #505050; /* warna track */
}

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.background {
  position: relative;
  background: rgb(56, 18, 114);
  min-height: 100vh;
  min-width: 100vw;
}

.circle-bg {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  min-width: 75cqmin;
  min-height: 75cqmin;
  bottom: -15cqmin;
  right: -15cqmin;
}

.square-bg {
  position: fixed;
  pointer-events: none;
  background-color: rgb(0, 0, 0);
  transform: rotate(45deg);
  opacity: 0.1;
  top: -15cqmin;
  left: -15cqmin;
  min-width: 75cqmin;
  min-height: 75cqmin;
}

.montserrat {
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica,
    Arial, "Bai Jamjuree", sans-serif;
}

.medium {
  font-weight: 600;
}

.custom-button {
  width: 100%;
  margin: 0px;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  padding: 0px 16px 4px;
  position: relative;
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica,
    Arial, "Bai Jamjuree", sans-serif;
}

.custom-button:hover {
  min-height: 46px;
  margin-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(47, 47, 47);
  box-shadow: rgba(0, 0, 0, 0.25) 0px -2px inset;
}

.main-container {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  width: 350px;
}

@media (max-width: 400px) {
  .main-container {
    width: 250px;
  }
}

.kahoot-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kahoot-spinner {
  width: 80px;
  height: 80px;
  transform: translate(0, -50%);
  z-index: 1000;
}

.kahoot-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #ff5722; /* First color */
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.kahoot-spinner div:nth-child(2) {
  border-top-color: #4caf50; /* Second color */
  animation-delay: -0.9s;
}

.kahoot-spinner div:nth-child(3) {
  border-top-color: #2196f3; /* Third color */
  animation-delay: -0.6s;
}

.kahoot-spinner div:nth-child(4) {
  border-top-color: #ffc107; /* Fourth color */
  animation-delay: -0.3s;
}

.game-pin-input {
  min-height: 2.375rem;
  max-height: 48px;
  line-height: 2.375rem;
  text-align: center;
  color: rgb(51, 51, 51);
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 0.625rem;
  width: 100%;
  font-weight: 700;
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica,
    Arial, "Bai Jamjuree", sans-serif;
  border: 0.125rem solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding: 0.25rem 0.375rem;
  transition: border 0.2s linear, box-shadow 0.2s linear;
}

.game-pin-error {
  min-height: 2.375rem;
  max-height: 48px;
  line-height: 2.375rem;
  text-align: center;
  width: 100%;
  color: rgb(51, 51, 51);
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  animation: 0.5s ease 0s 1 normal none running bPgSHm;
  background: url("field-error.svg") right center / 1.375rem 1.375rem no-repeat
    scroll rgb(255, 242, 244);
  padding-inline-end: 1.875rem;
  border: 0.125rem solid rgb(255, 51, 85);
}

.error-notification {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  --direction: 100%;
  animation: imGMRD 200ms 0s 1 backwards ease-out,
    cFsQUb 200ms var(--duration) 1 forwards ease-in;
  z-index: 10001;
  background-color: rgb(226, 27, 60);
  /* padding: calc(20px + 1.5vmin + 4px) calc(1.5vmin + 4px) calc(1.5vmin + 4px); */
  padding: 20px 0;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  min-height: 32px;
}

.error-text {
  color: rgb(255, 255, 255);
  font-size: calc(8px + 2vmin);
  line-height: 1;
  text-align: start;
}

.kahoot-card {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  width: 199px;
  height: 260px;
  box-sizing: content-box;
  margin: 4px 8px 4px 4px;
  position: relative;
}

.kahoot-card-title {
  position: absolute;
  inset: 0px;
  z-index: 91;
}

.card-top {
  background-color: rgb(233, 233, 233);
  width: 100%;
  min-height: 133px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 2 1 0%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
}

.card-bot {
  min-height: 127px;
  flex: 1 1 0%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.card-mid {
  position: absolute;
  background-color: rgb(38, 137, 12);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  top: -27px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 0px;
  height: 54px;
}

.card-span {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.card-desc {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.your-kahoots {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica,
    Arial, "Bai Jamjuree", sans-serif;
  border: 1px rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
}

.your-kahoots-top {
  padding: 8px 16px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes imGMRD {
  0% {
    transform: translateY(var(--direction));
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes cFsQUb {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(var(--direction));
  }
}
